In [44]:
import pandas as pd
from datetime import datetime
import time

In [23]:
df = pd.read_csv('../../challenges_data/turnstile_180120.txt')

In [8]:
df.head()

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/13/2018,03:00:00,REGULAR,6478878,2193318
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/13/2018,07:00:00,REGULAR,6478889,2193326
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/13/2018,11:00:00,REGULAR,6478928,2193408
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/13/2018,15:00:00,REGULAR,6479103,2193469
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/13/2018,19:00:00,REGULAR,6479412,2193524

In [25]:
df.set_index(['C/A','UNIT','SCP','STATION'], inplace=True)

In [31]:
df.index.values

array([('A002', 'R051', '02-00-00', '59 ST'),
       ('A002', 'R051', '02-00-00', '59 ST'),
       ('A002', 'R051', '02-00-00', '59 ST'), ...,
       ('TRAM2', 'R469', '00-03-01', 'RIT-ROOSEVELT'),
       ('TRAM2', 'R469', '00-03-01', 'RIT-ROOSEVELT'),
       ('TRAM2', 'R469', '00-03-01', 'RIT-ROOSEVELT')], dtype=object)

In [37]:
df['datetime'] = df['DATE'] + ' ' + df['TIME']

In [46]:
df['datetime'] = pd.to_datetime(df['datetime'])

In [47]:
df.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 199065 entries, (A002, R051, 02-00-00, 59 ST) to (TRAM2, R469, 00-03-01, RIT-ROOSEVELT)
Data columns (total 8 columns):
LINENAME                                                                199065 non-null object
DIVISION                                                                199065 non-null object
DATE                                                                    199065 non-null object
TIME                                                                    199065 non-null object
DESC                                                                    199065 non-null object
ENTRIES                                                                 199065 non-null int64
EXITS                                                                   199065 non-null int64
datetime                                                                199065 non-null datetime64[ns]
dtypes: datetime64[ns](1), int64(2), object(5)
memory usage: 13.7+ MB

In [50]:
time_series = df[['datetime','ENTRIES']]

In [55]:
time_series.head()

                                      datetime  ENTRIES
C/A  UNIT SCP      STATION
A002 R051 02-00-00 59 ST   2018-01-13 03:00:00  6478878
                   59 ST   2018-01-13 07:00:00  6478889
                   59 ST   2018-01-13 11:00:00  6478928
                   59 ST   2018-01-13 15:00:00  6479103
                   59 ST   2018-01-13 19:00:00  6479412

In [58]:
time_series.sort_values(by = [['C/A','UNIT','SCP','STATION','datetime']])

KeyError: "['C/A' 'UNIT' 'SCP' 'STATION'] not in index"